<!DOCTYPE html>
 <html xmlns:th="http://www.thymeleaf.org"> 
 <head>
 <meta charset="UTF-8"> 
 <title>Welcome To Anime World</title> 
 <link th:href="@{style.css}" rel="stylesheet"></link> 
 <style type="text/css" > div{ /* This is embeded CSS*/ color: white;
  background-color: darkkhaki; } 
  </style> 
  </head> 
  <body> 
  <h2> Call Me Kakarot. <h2/>
  <h2> Almigty Push ! </h2> 
  <strong> This World Shall Know Pain </strong> 
  <p>
  Itachi Uchiha </p>
  <p>
  Minato Namikaze <p/>
  <p>
  Obito Uchiha<p/>
  <p>
  Naruto Uzumaki<p/>
  <p>
  Kakashi Hatake<p/>
  <p>
  Rock Lee<p/>
  <p>
  Kurama<p/>
  <p>
  Hinata Huyga<p/>
  <p>
  Rin
  </p>
   
   <p> Jutsu:- <p/>
  <div style="background:#white;color:#black;"> Sharingan,Rasengan,kamui,Shadow Possession,Chidori,Amatarasu </div> 
 
  <h2>Sage Of The Six Paths</h2> 
  
  </body> 
  </html>